<footer class="footer_area mt-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-12">
        <div class="footer_top flex-column">
          <div class="footer_logo">
            <a href="#">
              <img src="assets/img/logo.svg" alt="">
            </a>
            <h4>Follow Me</h4>
          </div>
          <div class="footer_social">
            <a href="https://www.twitch.tv/mochkai"><i class="fab fa-twitch fa-lg"></i></a>
            <a href="https://twitter.com/Mochkai2"><i class="fab fa-twitter fa-lg"></i></a>
            <a href="https://github.com/mochkai"><i class="fab fa-github fa-lg"></i></a>
            <a href="https://www.youtube.com/channel/UCdNQsPmDe_R59iMgIJfmCKQ"><i class="fab fa-youtube fa-lg"></i></a>
            <a href="https://www.instagram.com/mochkai_gaming/"><i class="fab fa-instagram fa-lg"></i></a>
            <a href="https://www.linkedin.com/in/tiagkoamersonis/"><i class="fab fa-linkedin fa-lg"></i></a>
          </div>
        </div>
      </div>
    </div>
    <div class="row footer_bottom justify-content-center">
      <p class="col-lg-8 col-sm-12 footer-text">
        Copyright &copy; {{date | date:"yyyy"}} All rights reserved @Mochkai
      </p>
    </div>
  </div>
</footer>