<section class="portfolio_area section_gap_top" id="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="main_title text-left">
          <h2>Recent Projects</h2>
        </div>
      </div>
    </div>
    <div class="filters portfolio-filter">
      <ul>
        <li class="active" data-filter="*">all</li>
        <li data-filter=".popular">popular</li>
        <li data-filter=".latest"> latest</li>
        <li data-filter=".following">following</li>
        <li data-filter=".upcoming">upcoming</li>
      </ul>
    </div>

    <div class="filters-content">
      <div class="row portfolio-grid justify-content-center">
        <app-gallery-item *ngFor='let item of portfolioItems' [item]="item" class="col-lg-4 col-md-6 all latest">
        </app-gallery-item>
      </div>
    </div>
  </div>
</section>