<div class="row m-4">
  <div class="col-12 text-center">
    <a href="https://www.twitch.tv/mochkai">
      <h2 class="link"><i class="fab fa-twitch fa-lg"></i> TWITCH</h2>
    </a>
  </div>
</div>
<div class="row m-4">
  <div class="col-12 text-center">
    <a href="https://twitter.com/Mochkai2">
      <h2 class="link"><i class="fab fa-twitter fa-lg"></i> TWITTER</h2>
    </a>
  </div>
</div>
<div class="row m-4">
  <div class="col-12 text-center">
    <a href="https://www.instagram.com/mochkai_gaming/">
      <h2 class="link"><i class="fab fa-instagram fa-lg"></i> INSTAGRAM</h2>
    </a>
  </div>
</div>
<div class="row m-4">
  <div class="col-12 text-center">
    <a href="https://www.youtube.com/channel/UCdNQsPmDe_R59iMgIJfmCKQ">
      <h2 class="link"><i class="fab fa-youtube fa-lg"></i> YOUTUBE</h2>
    </a>
  </div>
</div>
<div class="row m-4">
  <div class="col-12 text-center">
    <a href="https://github.com/mochkai">
      <h2 class="link"><i class="fab fa-github fa-lg"></i> GITHUB</h2>
    </a>
  </div>
</div>