<section class="brands-area section_gap_top" id="brands">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="main_title text-left">
          <h2>Brands I Worked With</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="row">
          <div *ngFor="let item of brandItems" class="col-lg-2 col-md-4 col-6">
            <div class="brand-item">
              <img src="{{item.image}}" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>