<div class="container">
  <div class="row mt-5">
    <div class="col-12">
      <h1>Find me online!</h1>
    </div>
  </div>
  <section class="row" id="twitch-section">
    <div class="col-12">
      <div id="twitch-live"></div>
    </div>
  </section>
  <section class="row" id="twitch-schedule-section">
    <div class="col-12">
      [SCHEDULE PLACEHOLDER]
    </div>
  </section>
  <div class="row">
    <section class="col-md-6 col-12" id="twitter-section">
      [TWITTER PLACEHOLDER]
    </section>
    <section class="col-md-6 col-12" id="instagram-section" [innerHTML]='instagramEmbed'>
    </section>
  </div>
  <section class="row" id="youtube-section">
    <div class="col-12">
      [YOUTUBE PLACEHOLDER]
    </div>
  </section>
</div>