<div class="container">
  <div class="row mt-5">
    <div class="col-12">
      <h1>Find me online!</h1>
    </div>
  </div>
  <section class="row" id="twitch-section">
    <div class="col-12">
      <div id="twitch-live"></div>
    </div>
  </section>
  <section class="row" id="twitch-schedule-section">
    <div class="col-md-10 offset-md-1 col-12 mt-4 mb-4 text-center">
      <h2>Hello, Hello, and Welcome!</h2>
      <p>
        My name is Mochkai and I am a developer and streamer.
        <br>
        I stream live coding content and games in Mogeneral.
        <br>
        Join me and let's have fun together!!!
      </p>
      <p>
        Keep in touch by finding me on my socials and if you wnat to chat directly please <a
          href="https://discord.gg/tQbkpTDCCy">join my discord</a>
      </p>
    </div>
  </section>
  <div class="row">
    <section class="col-lg-6 col-12" id="twitter-section">
      <a class="twitter-timeline" data-height="900" data-theme="dark"
        href="https://twitter.com/Mochkai2?ref_src=twsrc%5Etfw">Tweets by
        Mochkai2</a>
    </section>
    <section class="col-lg-6 col-12 mt-lg-0 mt-3" id="instagram-section" [innerHTML]='instagramEmbed'>
    </section>
  </div>
  <section class="row" id="youtube-section">
    <div class="col-12">
      <div class="iframe-container">
        <iframe width="100%" src="https://www.youtube.com/embed/videoseries?list=PLtsUaBwA8KBfe0tyxHDItH6zn7jv7QyKt"
          title="YouTube video player" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
      </div>
    </div>
  </section>
</div>