<div class="container">
  <div class="row mt-5">
    <div class="col-12">
      <h1>Find me online!</h1>
    </div>
  </div>
  <section class="row" id="twitch-section">
    <div class="col-12">
      <div id="twitch-live"></div>
    </div>
  </section>
  <section class="row" id="social-section">
    <div class="col-12">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam efficitur tellus nec libero luctus, eu
        porttitor odio placerat. In eu mattis dolor. Phasellus ut commodo tellus. Nulla facilisi. Vivamus malesuada dui
        et diam faucibus, vitae maximus mauris pretium. Integer sagittis metus nunc, quis interdum odio tincidunt vitae.
        Sed nec orci nec turpis blandit lacinia. Curabitur vulputate maximus scelerisque. Phasellus vel imperdiet elit.
      </p>
    </div>
  </section>
  <div class="row">
    <section class="col-md-6 col-12" id="twitter-section">
      [TWITTER PLACEHOLDER]
    </section>
    <section class="col-md-6 col-12" id="instagram-section">
      [INSTAGRAM PLACEHOLDER]
    </section>
  </div>
  <section class="row" id="youtube-section">
    <div class="col-12">
      [YOUTUBE PLACEHOLDER]
    </div>
  </section>
</div>