<app-banner></app-banner>
<section class="description-area section_gap_top" id="description">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="main_title text-center">
          <h2>About Me</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla lacinia fringilla odio,
          vel auctor diam
          finibus gravida. Phasellus purus leo, aliquet vitae condimentum non, tristique eget mi. Fusce finibus nulla
          nec libero ultricies, non mollis ligula semper. Nullam non mattis ex. Suspendisse luctus consectetur nisl, nec
          congue mi. Morbi gravida at metus ac dictum. Nam vestibulum id mauris a viverra. Nunc quis elit elit. Aenean
          sollicitudin purus vel risus tincidunt, vitae eleifend felis accumsan. Nulla ut sollicitudin sem, at auctor
          lacus. In hac habitasse platea dictumst. Donec lacus tellus, feugiat vitae auctor et, dictum et nibh. Praesent
          hendrerit, lorem ac euismod suscipit, nibh velit fringilla lorem, vitae viverra enim turpis a mi. Nam sit amet
          ipsum est.</p>
      </div>
    </div>
  </div>
</section>
<app-brands></app-brands>
<app-work></app-work>
<app-gallery></app-gallery>