.portfolio-tag {
  display: block;
  padding: 2px 4px;
  float: left;
  color: $primary-color2;
}

.brand-item {
  width: 125px;
  float: left;
  padding: 10px 25px;
  border: 1px solid white;
  background: #111;
  margin: 10px;
  img {
    width: 100%;
  }
  &:hover {
    box-shadow: $primary-color2 2px 2px 10px;
  }
}
