<div class="portfolio_box">
  <a [routerLink]="[item.url]" [replaceUrl]="true">
    <div class="single_portfolio">
      <img class="img-fluid w-100" src="{{item.image}}" alt="">
      <div class="overlay"></div>
      <div class="icon">
        <span class="lnr lnr-{{item.icon}}"></span>
      </div>
    </div>
    <div class="short_info">
      <h4>{{item.title}}</h4>
      <p class="portfolio-tags"><span *ngFor='let tag of item.tags' class="portfolio-tag">{{tag}}</span></p>
    </div>
  </a>
</div>